/* ================= LOGIN ================= */

.login-root {
    -fx-background-color: linear-gradient(
        to bottom right,
        #0f2027,
        #203a43,
        #2c5364
    );
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.input {
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.login-button {
    -fx-background-color: #ff9800;
    -fx-background-radius: 12;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-background-color: #ffc107;
}

/* ================= DASHBOARD ================= */

.dashboard-root {
    -fx-background-color: linear-gradient(
        to bottom,
        #020617,
        #020617,
        #0f172a
    );
}

.dashboard-root .title {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.film-card {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-background-radius: 14;
    -fx-padding: 12;
    -fx-cursor: hand;
}

.film-card:hover {
    -fx-background-color: rgba(255,255,255,0.18);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
